<div class="container-fluid">
    <table class="table table-condensed challenges">
        <thead>
        <tr>
            <th width="20"><input type="checkbox"></th>
            <th>Description</th>
            <th width="100">Statut</th>
            <th width="60"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="challenge">
            <td><input type="checkbox"></td>
            <td class="description"
                title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.">
                <p>Lorem ipsum dolor sit amet</p>
                <p><i>Sous-domaine #1, Sous-domaine #2, Sous-domaine #3</i></p>
            </td>
            <td>Publiée</td>
            <td>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
            </td>
        </tr>
        <tr class="challenge">
            <td><input type="checkbox"></td>
            <td class="description"
                title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.">
                <p>Lorem ipsum dolor sit amet</p>

                <p><i>Sous-domaine #1, Sous-domaine #2, Sous-domaine #3</i></p>
            </td>
            <td>Publiée</td>
            <td>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
            </td>
        </tr>
        <tr class="challenge">
            <td><input type="checkbox"></td>
            <td class="description"
                title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.">
                <p>Lorem ipsum dolor sit amet</p>

                <p><i>Sous-domaine #1, Sous-domaine #2, Sous-domaine #3</i></p>
            </td>
            <td>Planifiée</td>
            <td>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
            </td>
        </tr>
        <tr class="challenge">
            <td><input type="checkbox"></td>
            <td class="description"
                title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.">
                <p>Lorem ipsum dolor sit amet</p>

                <p><i>Sous-domaine #1, Sous-domaine #2, Sous-domaine #3</i></p>
            </td>
            <td>Planifiée</td>
            <td>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
            </td>
        </tr>
        <tr class="challenge">
            <td><input type="checkbox"></td>
            <td class="description"
                title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.">
                <p>Lorem ipsum dolor sit amet</p>

                <p><i>Sous-domaine #1, Sous-domaine #2, Sous-domaine #3</i></p>
            </td>
            <td>Brouillon</td>
            <td>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
            </td>
        </tr>
        <tr class="challenge">
            <td><input type="checkbox"></td>
            <td class="description"
                title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.">
                <p>Lorem ipsum dolor sit amet</p>

                <p><i>Sous-domaine #1, Sous-domaine #2, Sous-domaine #3</i></p>
            </td>
            <td>Brouillon</td>
            <td>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
            </td>
        </tr>
        </tbody>
    </table>

</div>