<div class="login-page">
    <div class="container-fluid">

        <div class="logo">
            <img alt="PIX logo" src="/assets/img/logo.png" class="img-rounded">
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="product-vision">
                    <p>Pour tout usager français (étudiant, salarié, retraité)</p>
                    <p>Qui souhaite acquérir et/ou justifier de compétences numériques</p>
                    <p>Notre plateforme digitale d’évaluation des compétences numériques</p>
                    <p>Propose de tester et certifier de façon intelligente, exigeante et bienveillante les compétences numériques des usagers au travers d’exercices pratiques et ludiques</p>
                    <p>Et vise à susciter l’envie de se former en continu</p>
                </div>
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-md-12">
                <div class="login-form">
                    <form role="form" action="/epreuves" method="get">
                        <div class="form-group">
                            <label for="login">Identifiant</label>
                            <input type="text" class="form-control" id="login" placeholder="Login ou e-mail">
                        </div>
                        <div class="form-group">
                            <label for="password">Mot de passe</label>
                            <input type="password" class="form-control" id="password" placeholder="******">
                        </div>
                        <button type="submit" class="btn btn-default pull-right">Se connecter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

