<head>
    <meta charset="utf-8">

    <title>PIX/Ed - {{title}}</title>
    <meta name="description" content="Application de gestion des tests et des épreuves de la plateforme PIX">
    <meta name="author" content="SGMAP">

    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/main.css">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
